<%= form_for [@character, @feat_assignment] do |f| %>
  <% if @feat_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feat_assignment.errors.count, "error") %> prohibited this feat_assignment from being saved:</h2>

      <ul>
      <% @feat_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feat_id %><br>
    <%= f.select(:feat_id, Feat.all.map { |f| [f.name, f.id] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
