<%= stylesheet_link_tag "global.css" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @feat_assignment.character_id %>
</p>

<p>
  <strong>Feat:</strong>
  <%= @feat_assignment.feat_id %>
</p>

<%= link_to 'Edit', [:edit, @character, @feat_assignment] %> |
<%= link_to 'Back', character_feat_assignments_path(@character) %>
