<%= form_for(@ability_score) do |f| %>
  <% if @ability_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ability_score.errors.count, "error") %> prohibited this ability_score from being saved:</h2>

      <ul>
      <% @ability_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :race_modifier %><br>
    <%= f.number_field :race_modifier %>
  </div>
  <div class="field">
    <%= f.label :temp_modifier %><br>
    <%= f.number_field :temp_modifier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
