<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @pathfinder_class.class_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @pathfinder_class.role %>
</p>

<p>
  <strong>Hit dice:</strong>
  <%= @pathfinder_class.hit_dice %>
</p>

<p>
  <strong>Weapon proficiencies:</strong>
  <%= @pathfinder_class.weapon_proficiencies %>
</p>

<p>
  <strong>Armor proficiencies:</strong>
  <%= @pathfinder_class.armor_proficiencies %>
</p>

<p>
  <strong>Class skills:</strong>
  <%= @pathfinder_class.class_skills %>
</p>

<p>
  <strong>Class abilities:</strong>
  <%= @pathfinder_class.class_abilities %>
</p>

<p>
  <strong>Base attack bonuses:</strong>
  <%= @pathfinder_class.base_attack_bonuses %>
</p>

<p>
  <strong>Base saves:</strong>
  <%= @pathfinder_class.base_saves %>
</p>

<p>
  <strong>Available Alignments:</strong>
  <%= @pathfinder_class.available_alignments %>
</p>

<p>
  <strong>Starting Wealth:</strong>
  <%= @pathfinder_class.starting_wealth %>
</p>

<p>
  <strong>Base Skill Ranks Per Level:</strong>
  <%= @pathfinder_class.base_skill_ranks_per_level %>
</p>

<p>
  <strong>Class Spells per Day:</strong>
  <%= @pathfinder_class.class_spells_per_day %>
</p>

<p>
  <strong>Spell List Type:</strong>
  <%= @pathfinder_class.spell_list_type %>
</p>

<p>
  <strong>Bonus Languages:</strong>
  <%= @pathfinder_class.bonus_languages %>
</p>

<p>
  <strong>Misceleaneous Class Features:</strong>
  <%= @pathfinder_class.miscelaneous_features %>
</p>

<%= link_to 'Edit', edit_pathfinder_class_path(@pathfinder_class) %> |
<%= link_to 'Back', pathfinder_classes_path %>
