<%= form_for(@feat) do |f| %>
  <% if @feat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feat.errors.count, "error") %> prohibited this feat from being saved:</h2>

      <ul>
      <% @feat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :prerequisites %><br>
    <%= f.text_field :prerequisites %>
  </div>
  <div class="field">
    <%= f.label :prerequisite_feats %><br>
    <%= f.text_field :prerequisite_feats %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
