<p id="notice"><%= notice %></p>

<p>
  <strong>Alignment:</strong>
  <%= @description.alignment %>
</p>

<p>
  <strong>Player:</strong>
  <%= @description.player %>
</p>

<p>
  <strong>Deity:</strong>
  <%= @description.deity %>
</p>

<p>
  <strong>Homeland:</strong>
  <%= @description.homeland %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @description.gender %>
</p>

<p>
  <strong>Height:</strong>
  <%= @description.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @description.weight %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @description.eyes %>
</p>

<p>
  <strong>Hair:</strong>
  <%= @description.hair %>
</p>

<%= link_to 'Edit', edit_character_description_path(@character) %> |
<%= link_to 'Back', @character %>
