<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @character.summary %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @character.campaign %>
</p>

<p>
	<strong>Race:</strong>
	<% if @character.hasRace? %>
		<%= @character.race.race_name %>
		<%= link_to 'Remove', @character.race, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% else %>
		<%= link_to 'Choose Race', new_race_path(:character_id => @character.id) %>
	<% end %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', user_path(current_user) %>
