<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @character.summary %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @character.campaign %>
</p>

<p>
	<strong>Race:</strong>
	<% if Race.exists?(@character.race_id) %>
		<%= Race.find(@character.race_id).race_name %>
		<%= link_to 'Show', race_path(@character.race_id) %>
		<%= form_for(@character) do |f| %>
		  <div class="field">
		    <%= f.hidden_field :race_id, :value => nil %>
		  </div>
		  <div class="actions">
		    <%= link_to_submit 'Remove Race'%>
		  </div>
		<% end %>
	<% else %>
		<%= form_for(@character) do |f| %>
		  <div class="field">
		    <%= f.label :race_id %><br>
		    <%= f.select(:race_id, Race.all.map { |r| [r.race_name, r.id] }) %>
		  </div>
		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
	<% end %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', user_path(current_user) %>
