<%= stylesheet_link_tag "global.css" %>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @character.summary %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @character.campaign %>
</p>

<div class = "description">
	<h3><strong>Description</strong></h3>
	<% if @character.hasDescription? %>
		<% @description = @character.description %>
		<p>
		  <strong>Alignment:</strong>
		  <%= @description.alignment %>
		</p>

		<p>
		  <strong>Player:</strong>
		  <%= @description.player %>
		</p>

		<p>
		  <strong>Deity:</strong>
		  <%= @description.deity %>
		</p>

		<p>
		  <strong>Homeland:</strong>
		  <%= @description.homeland %>
		</p>

		<p>
		  <strong>Gender:</strong>
		  <%= @description.gender %>
		</p>

		<p>
		  <strong>Height:</strong>
		  <%= @description.height %>
		</p>

		<p>
		  <strong>Weight:</strong>
		  <%= @description.weight %>
		</p>

		<p>
		  <strong>Eyes:</strong>
		  <%= @description.eyes %>
		</p>

		<p>
		  <strong>Hair:</strong>
		  <%= @description.hair %>
		</p>
		<p>
        <p>
        	<%= link_to 'Destroy', @description, method: :delete, data: { confirm: 'Are you sure?' } %>
        	<%= link_to 'Edit', edit_description_path(@description, :character_id => @character.id) %>
        </p>
	<% else %>	
		<%= link_to 'Add Description', new_description_path(:character_id => @character.id)%>
	<% end %>
</div>

<p>
	<strong>Race:</strong>
	<% if Race.exists?(@character.race_id) %>
		<%= Race.find(@character.race_id).race_name %>
		<%= link_to 'Show', race_path(@character.race_id) %>
		<%= form_for(@character) do |f| %>
		  <div class="field">
		    <%= f.hidden_field :race_id, :value => nil %>
		  </div>
		  <div class="actions">
		    <%= link_to_submit 'Remove Race'%>
		  </div>
		<% end %>
	<% else %>
		<%= form_for(@character) do |f| %>
		  <div class="field">
		    <%= f.label :race_id %><br>
		    <%= f.select(:race_id, Race.all.map { |r| [r.race_name, r.id] }) %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Update Character", :name => "UpdateCharacter", :value => "Update Race" %>
		  </div>
		<% end %>
	<% end %>
</p>

<p>
	<strong>Class:</strong>
	<%= PathfinderClass.find(@character.class_id).class_name %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', user_path(current_user) %>
