<p id="notice"><%= notice %></p>

<p>
  <strong>Strength:</strong>
  <%= @attribute_list.str %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @attribute_list.dex %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @attribute_list.con %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @attribute_list.int %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @attribute_list.wis %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @attribute_list.cha %>
</p>

<%= link_to 'Edit', edit_character_attribute_list_path(@character) %> 
<%= link_to 'Back', character_attribute_list_path(@character) %>
